<!-- main -->
<main>
    <!-- introBannerHolder -->
    <section class="introBannerHolder d-flex w-100 bgCover"
        style="background-image: url(assets/styles/images/b-bg2.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12 pt-lg-23 pt-md-15 pt-sm-10 pt-6 text-center " style="margin-top: 60px;">
                    <h1 class="headingIV fwEbold playfair mb-4">Shop</h1>
                    <ul class="list-unstyled breadCrumbs d-flex justify-content-center">
                        <li class="mr-2"><a href="home.html">Home</a></li>
                        <li class="mr-2">/</li>
                        <li class="mr-2"><a href="shop.html">Shop</a></li>
                        <li class="mr-2">/</li>
                        <li class="active">Pellentesque aliquet</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- twoColumns -->
    <div class="twoColumns container pt-xl-23 pb-xl-20 pt-lg-20 pb-lg-20 py-md-16 py-10 mt-5">
        <div class="row mb-6">
            <div class="col-12 col-lg-6 order-lg-1">
                <!-- productSliderImage -->

                <div>
                    <img [src]="prodDet?.image" alt="image description" class="img-fluid w-100">
                </div>


            </div>
            <div class="col-12 col-lg-6 order-lg-3">
                <!-- productTextHolder -->
                <div class="productTextHolder overflow-hidden">
                    <h2 class="fwEbold mb-2">{{prodDet?.name}}</h2>
                    <ul class="list-unstyled ratingList d-flex flex-nowrap mb-2">
                        <li class="mr-2 "><a><i class="fas fa-star"></i></a></li>
                        <li class="mr-2"><a><i class="fas fa-star"></i></a></li>
                        <li class="mr-2"><a><i class="fas fa-star"></i></a></li>
                        <li class="mr-2"><a><i class="fas fa-star"></i></a></li>
                        <li class="mr-2"><a><i class="far fa-star"></i></a></li>
                        <li>( 5 customer reviews )</li>
                    </ul>
                    <strong class="price d-block mb-5 text-green">{{prodDet?.price|currency}}</strong>
                    <p class="mb-5">{{prodDet?.desce}}</p>
                    <ul class="list-unstyled productInfoDetail mb-5 overflow-hidden">

                        <li class="mb-2">Quantity: <span>{{prodDet?.qnt}}</span></li>

                    </ul>


                    <div class="holder overflow-hidden d-flex flex-wrap mb-6">
                        <input type="number" placeholder="1">
                        <button mat-raised-button color="primary">Add To Cart <mat-icon matSuffix>add_shopping_cart
                            </mat-icon>
                        </button>

                    </div>
                    <br>
                    <ul class="list-unstyled productInfoDetail mb-3">
                        <li class="mb-2">Categories: <a>Butter &amp; Eggs,</a> <a>Fruits,</a> <a>Milk &amp; Cream,</a>
                            <a>Vegetables</a>
                        </li>
                        <li class="mb-2">Tags: <a>organic food,</a> <a>fruits,</a> <a>juice</a></li>

                    </ul>
                </div>
            </div>
        </div>

    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- tabSetList -->
                <ul class="list-unstyled tabSetList d-flex justify-content-center mb-9">
                    <li class="mr-md-20 mr-sm-10 mr-2">
                        <a href="#tab1-0" class="active playfair fwEbold pb-2 m-5">Description</a>
                    </li>
                    <li>
                        <a href="#tab2-0" class="playfair fwEbold pb-2 m-5">Reviews ( 2 )</a>
                    </li>
                </ul>
                <!-- tab-content -->
                <div class="tab-content mb-xl-11 mb-lg-10 mb-md-8 mb-5 mt-5">
                    <div id="tab1-0" class="active">
                        <p>Aenean id ullamcorper libero. Vestibulum imperdiet nibh. Lorem ullamcorper volutpat.
                            Vestibulum lacinia risus. Etiam sagittis ullamcorper volutpat. Vestibulum lacinia risus sed
                            ligula malesuada volutpat.Pellentesque habitant morbi tristique senectus et netus et
                            malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget,
                            tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi
                            vitae est. Mauris placerat eleifend leo Pellentesque habitant morbi tristique senectus et
                            netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies
                            eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
                            mi vitae est. Mauris placerat eleifend leo.</p>
                    </div>
                    <div id="tab2-0">
                        <p>88888 Aenean id ullamcorper libero. Vestibulum imperdiet nibh. Lorem ullamcorper volutpat.
                            Vestibulum lacinia risus. Etiam sagittis ullamcorper volutpat. Vestibulum lacinia risus sed
                            ligula malesuada volutpat.Pellentesque habitant morbi tristique senectus et netus et
                            malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget,
                            tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi
                            vitae est. Mauris placerat eleifend leo Pellentesque habitant morbi tristique senectus et
                            netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies
                            eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
                            mi vitae est. Mauris placerat eleifend leo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>